<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="io.ionic.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>mHUD</name>
  <description>Mobile heads-up display for cars with ELM327 bluetooth OBDII devices</description>
  <author email="paulcockrell@gmail.com" href="http://mr.paul.tech/">Paul Cockrell</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="windows-target-version" value="10"/>
  <preference name="windows-phone-target-version" value="8.1"/>
  <preference name="Orientation" value="landscape" />
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <plugin name="cordova-plugin-console" version="1.0.2"/>
  <plugin name="cordova-plugin-device" version="1.1.1"/>
  <plugin name="cordova-plugin-geolocation" version="2.1.0"/>
  <plugin name="cordova-plugin-splashscreen" version="3.2.1"/>
  <plugin name="cordova-plugin-statusbar" version="2.1.2"/>
  <plugin name="cordova-plugin-whitelist" version="1.2.1"/>
  <plugin name="ionic-plugin-keyboard" version="2.0.1"/>
  <plugin name="cordova-plugin-bluetooth-serial" version="0.4.5" src="https://github.com/don/BluetoothSerial.git"/>
</widget>
