<ion-content>
  <div id="clock" [ngClass]="theme" (click)="changeTheme()">
    <div class="display">
      <div class="gforce-circle">
        <div class="gforce-segment one" [ngClass]="{'active': gforce_tens_idx > 0}"></div>
        <div class="gforce-segment two" [ngClass]="{'active': gforce_tens_idx > 1}"></div>
        <div class="gforce-segment three" [ngClass]="{'active': gforce_tens_idx > 2}"></div>
        <div class="gforce-segment four" [ngClass]="{'active': gforce_tens_idx > 3}"></div>
        <div class="gforce-segment five" [ngClass]="{'active': gforce_tens_idx > 4}"></div>
        <div class="gforce-segment six" [ngClass]="{'active': gforce_tens_idx > 5}"></div>
      </div>
      <div class="speed-limit-circle">
      </div>
  		<span class="digits digits-big speed">
        <div [ngClass]="speed_hundreds">
          <span *ngFor="let segment_number of segment_numbers" class="d{{segment_number}}-big"></span>
        </div>
        <div [ngClass]="speed_tens">
          <span *ngFor="let segment_number of segment_numbers" class="d{{segment_number}}-big"></span>
        </div>
        <div [ngClass]="speed_ones">
          <span *ngFor="let segment_number of segment_numbers" class="d{{segment_number}}-big"></span>
        </div>
        <div class="speed_unit unit">
          {{ speed_unit }}
        </div>
      </span>
      <span class="digits gforce">
        <div [ngClass]="gforce_tens">
          <span *ngFor="let segment_number of segment_numbers" class="d{{segment_number}}"></span>
        </div>
        <div class="decimal"></div>
        <div [ngClass]="gforce_ones">
          <span *ngFor="let segment_number of segment_numbers" class="d{{segment_number}}"></span>
        </div>
        <div class="gforce_unit unit">
          {{ gforce_unit }}
        </div>
      </span>
      <span class="digits speed-limit">
        <div [ngClass]="speed_limit_tens">
          <span *ngFor="let segment_number of segment_numbers" class="d{{segment_number}}"></span>
        </div>
        <div class="decimal clear"></div>
        <div [ngClass]="speed_limit_ones">
          <span *ngFor="let segment_number of segment_numbers" class="d{{segment_number}}"></span>
        </div>
        <div class="speed_limit_unit unit">
          {{ speed_limit_unit }}
        </div>
      </span>
  	</div>
  </div>
</ion-content>
